@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Nanum+Gothic&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fff;
}

.container {
  padding-bottom: 1.25rem;
}

header {
  width: 100%;
  position: fixed;
  background-color: #2b2d2f;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.header .nav_bar {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

nav:after {
  display: table;
}

.fa-cubes {
  position: relative;
  color: #006ee6;
}

.menu_icon {
  float: right;
  cursor: pointer;
  padding: 24px 17px;
}

.fa-bars {
  font-size: 23px;
  color: #ddd;
}

.header .menu_btn {
  display: none;
}

.logo {
  color: #fff;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
}

.icon {
  color: #fff;
  position: absolute;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

nav ul {
  display: none;
}

nav ul li {
  list-style: none;
  width: 101%;
  background: #45474a;
}

nav ul li a {
  display: block;
  padding: 20px;
  font-size: 17px;
  font-weight: 900;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fff;
  border-right: 1px solid #aaa;
}

nav ul li a:hover {
  color: #4f466d;
  background-color: #ddd;
}

.inventory_info_box {
  width: 98%;
  padding-top: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.stat_box {
  width: 30%;
  height: 90px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px 3px #9d9d9d;
  -webkit-box-shadow: 0 0 3px 5px #9d9d9d;
  box-shadow: 0 0 5px 3px #9d9d9d;
}

.icon_background {
  width: 2rem;
  height: 2rem;
  float: right;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  background: #dae1fb;
}

.cost {
  background: #d6ead6;
}

.return_on_investment {
  background: #e6d7ea;
}

.fa-box-open {
  color: #1338be;
}

.fa-tag {
  color: #85c285;
}

.fa-chart-line {
  color: #7a4988;
}

.total_number {
  font-size: 14px;
  text-align: left;
  margin-left: 6pt;
  margin-top: 26pt;
}

.percent {
  font-size: 100px;
  text-align: left;
}

p {
  font-size: 9px;
  color: #8d8681;
  text-align: center;
  margin-top: 7px;
}

.p_roi {
  font-size: 9px;
  color: #8d8681;
  text-align: center;
}

.buttons {
  display: flex;
  float: right;
  width: 25%;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.clear_table {
  width: 42%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: #eef1f6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 2px;
}

.trash_icon {
  width: 17px;
  height: auto;
}

.open_form {
  width: 42%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: #006ee6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 auto;
  padding-bottom: 6px;
}

.add_symbol {
  padding-bottom: 10px;
  font-size: 19px;
}

.open_form:hover {
  background-color: #0062cc;
  opacity: 1;
}

.form_popup_background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.form_popup {
  display: none;
  position: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 64%;
  top: 185px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px 3px #9d9d9d;
  -webkit-box-shadow: 0 0 3px 5px #9d9d9d;
  box-shadow: 0 0 5px 3px #9d9d9d;
  background-color: #fff;
  z-index: 9;
}

.close_form {
  width: 8%;
  text-align: center;
  border-radius: 3px;
  margin-top: 5px;
  float: right;
  margin-right: 9px;
  color: #2a324b;
  background-color: #fff;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Mukta", sans-serif;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}

.inventory_heading {
  font-family: "Poppins", sans-serif;
  float: left;
  margin-left: 27px;
  margin-top: 12px;
  margin-bottom: 9px;
  font-size: 23px;
  font-weight: 600;
}

.inventory_form {
  width: 66%;
  position: relative;
  height: 77%;
  font-family: sans-serif;
  overflow: hidden;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.input_section {
  width: 100%;
  height: 66px;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

.inventory_form input {
  width: 100%;
  height: 40px;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

.inventory_form label {
  color: #4f546c;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 40px;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.inventory_form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 30px;
  width: 100%;
  border-bottom: 2px solid #006ee6;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content_name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.inventory_form input:focus + .label_name .content_name,
.inventory_form input:valid + .label_name .content_name {
  transform: translateY(-90%);
  font-size: 14px;
  color: #006ee6;
}

.inventory_form input:focus + .label_name::after,
.inventory_form input:valid + .label_name::after {
  transform: translateX(0%);
}

.add_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_form {
  width: 30%;
  height: 30px;
  border-radius: 25px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  background-color: #006ee6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

table {
  color: black;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 5px 10px #e1e5ee;
}

table thead tr {
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  font-weight: 1000;
  color: #4f546c;
  font-size: 9px;
  text-align: left;
  font-family: "Exo", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Quicksand", sans-serif;
}

th {
  font-family: "Mukta", sans-serif;
  font-weight: 1000;
  font-size: 10px;
}

td {
  color: #4f546c;
  font-size: 9px;
  font-weight: 800;
  text-align: left;
  font-family: "Mukta", sans-serif;
}

tr:nth-of-type(even) {
  background-color: #f4f6fb;
}

th,
td {
  padding: 12px 27px;
}

.date_purchased_th,
.date_sold_th,
.product_name_th,
.product_price_th,
.product_size_th,
.product_roi_th {
  font-size: 16px;
}

.date_purchased_td,
.date_sold_td,
.product_name_td,
.product_price,
.product_size_td,
.product_roi {
  font-size: 11px;
}

.clear_row_all {
  float: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border: none;
  color: #27292a;
  margin-top: 1px;
  margin-left: -16px;
}

.clear_row {
  float: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border: none;
  color: #27292a;
  margin-top: -2px;
  margin-left: -16px;
}

.profit {
  color: green;
}

.neutral {
  color: black;
}

.lost {
  color: red;
}

@media only screen and (min-width: 768px) {
  .total_number {
    font-size: 20px;
    text-align: left;
    margin-left: 12pt;
    margin-top: 14pt;
  }

  p {
    font-size: 15px;
    margin-top: 0px;
  }

  .inventory_heading {
    margin-left: 33px;
    font-size: 30px;
  }

  .buttons {
    margin-right: 35px;
  }

  .input_section {
    height: 82px;
    font-size: larger;
  }

  .submit_form {
    font-size: larger;
    font-weight: 700;
    height: 3rem;
  }

  .product_name_th,
  .product_price_th,
  .product_size_th,
  .product_roi_th {
    font-size: 21px;
  }

  .product_name_td,
  .product_price,
  .product_size_td,
  .product_roi {
    font-size: 16px;
  }

  .clear_row {
    margin-top: 1px;
  }
}

@media only screen and (min-width: 1490px) {
  .logo {
    padding: 10px 39px;
  }

  nav ul {
    display: inline-flex;
    float: right;
    margin-right: 3rem;
    margin-top: -70px;
  }

  nav ul li a {
    border: 0;
  }

  .menu_icon {
    display: none;
  }

  nav ul li a:hover {
    color: #fff;
    background-color: #2b2d2f;
  }

  .inventory_info_box {
    width: 50%;
    padding: 90px 60px;
    float: right;
    margin-right: 10rem;
    justify-content: space-evenly;
    margin-bottom: -3rem;
  }

  .stat_box {
    height: 140px;
  }

  .total_number {
    font-size: 20px;
    text-align: left;
    margin-left: 21pt;
    margin-top: 44px;
    margin-bottom: 14px;
  }

  p {
    font-size: 17px;
  }

  .inventory_heading {
    font-size: 40px;
    margin-top: 11rem;
    margin-left: 12rem;
    float: left;
  }

  .buttons {
    float: right;
    width: 7%;
    height: 50px;
    float: left;
    margin-top: 12.125rem;
    margin-left: 1.5rem;
  }

  .form_popup {
    width: 40%;
  }

  .input_section {
    height: 70px;
    font-size: larger;
  }

  table {
    width: 84%;
  }

  .date_purchased_th,
  .date_sold_th,
  .product_name_th,
  .product_price_th,
  .product_size_th,
  .product_roi_th {
    font-size: 20px;
  }

  .date_purchased_td,
  .date_sold_td,
  .product_name_td,
  .product_price,
  .product_size_td,
  .product_roi {
    font-size: 16px;
  }

  .clear_row {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  .date_purchased_th,
  .date_sold_th {
    display: none;
  }

  .date_purchased_td,
  .date_sold_td {
    display: none;
  }

  .clear_row_all {
    display: none;
  }
}
