@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Nanum+Gothic&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.logo_home,
.name_home,
.hamburger_menu {
  font-size: 1.5em;
  color: #031163;
}

.logo_home,
.name_login {
  padding-right: 0.5rem;
}

.drop_down_menu {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.nav_links {
  position: fixed;
  z-index: 10;
  width: 100%;
  list-style: none;
  transform: translateX(100%);
  /* transition: transform 0.2s ease-in; */
}

.menu_background {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90vh;
  overflow: auto;
  transform: translateX(100%);
  /* transition: transform 0.2s ease-in; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.nav_active {
  transform: translateX(0%);
}

.no_scroll {
  overflow: hidden;
}

nav ul li {
  width: 100%;
  padding: 1.25rem 1.5rem;
  background-color: #fff;
  border-top: 1.5px solid #cccccc;
}

nav ul li a {
  color: #031163;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 525;
  width: 100%;
  text-decoration: none;
}

.btn_login {
  color: #031163;
  font-size: 1.05em;
  font-family: "Poppins", sans-serif;
  font-weight: 525;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.content_container {
  width: 88%;
  margin: 0 auto;
  padding-top: 3rem;
}

.info_box {
  width: 95%;
  margin: 0 auto;
}

.home_heading {
  font-size: 1.75em;
  color: #031163;
  text-align: center;
}

.home_subheading {
  font-size: 1.25em;
  padding-top: 1.25rem;
}

.features_container {
  width: 95%;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.features_heading {
  font-size: 1.75em;
  color: #645cff;
}

.fa-circle {
  position: absolute;
  z-index: 0;
  margin-top: 0.66rem;
  margin-left: -1.25rem;
  color: #8b85ff;
  font-size: 11px;
}

.features_list {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  font-size: 1.4em;
  color: #b1adff;
}

.start_container {
  width: 96.5%;
  text-align: center;
  padding-top: 2.25rem;
}

.start_btn {
  text-align: center;
  padding: 14px 70px;
  color: white;
  font-size: 1.25em;
  background-color: #6c63ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.start_btn:hover {
  background-color: #9e99ff;
}

.dashboard_container {
  width: 100%;
  padding-top: 3rem;
}

.inventory_ui {
  width: 100%;
  padding-bottom: 3rem;
}

.login_left {
  display: none;
}

.login_right {
  height: 100vh;
  width: 100%;
}

.logo_mobile_login_container {
  width: 100%;
  text-align: center;
  padding-top: 1.75rem;
}

.logo_home_mobile {
  text-decoration: none;
}

.logo_login,
.name_login {
  padding-right: 0.5rem;
  color: #031163;
  font-size: 1.75em;
}

.login_form {
  width: 77.5%;
  margin: 4rem auto;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); */
}

.login {
  color: #031163;
  font-weight: 550;
  font-size: 2em;
}

.welcome_container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.welcome_text {
  color: #b8b8b8;
}

.login_subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #020a3c;
  float: left;
  margin-left: 0;
  padding-bottom: 10px;
  padding-top: 15px;
}

.login_input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-style: solid;
  border-color: #d3d3d3;
  margin-bottom: 10px;
  border-width: 1.75px;
  outline: none;
  padding-left: 13px;
}

.forgot_container {
  padding-top: 1rem;
  padding-bottom: 1.75rem;
}

.forgot_pw {
  text-decoration: none;
  color: #b8b8b8;
}

.forgot_pw:hover {
  color: #6c63ff;
}

.login_submit {
  width: 100%;
  /* margin-left: 20px; */
  padding: 14px 25px;
  font-size: 1.1em;
  color: white;
  background-color: #6c63ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login_submit:hover {
  background-color: #9e99ff;
}

.send_btn {
  padding-top: 1.5rem;
}

.return_login {
  font-size: 1.1em;
  text-decoration: none;
  color: #6c63ff;
  float: left;
}

.sign_up_container {
  padding-top: 1.5rem;
}

.create_container {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.login_text {
  color: #b8b8b8;
}

.create_acc {
  text-decoration: none;
  color: #6c63ff;
}

.create_acc:hover {
  color: #9e99ff;
}

.inventory_left {
  display: none;
}

.nav_menu_mobile {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.user_nav_mobile_content {
  position: fixed;
  z-index: 10;
  width: 100%;
  list-style: none;
  transition: transform 0.2s ease-in;
  transform: translateX(100%);
}

.top_nav {
  display: none;
}

.user_info {
  display: none;
}

.menu_text {
  display: none;
}

.nav_content_mobile {
  width: 100%;
  background-color: #fff;
}

.user_nav_a_mobile {
  border-top: 1px solid black;
  padding: 1.25rem 2rem;
}

.nav_link {
  display: flex;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.nav_icon_container {
  padding-right: 1.25rem;
}

.logout_label {
  margin-left: -0.25rem;
}

#logout_icon {
  font-size: 1.25em;
}

.user_menu_background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 10;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.user_nav_active {
  transform: translateX(0%);
}

.container {
  padding-bottom: 1.25rem;
}

nav:after {
  display: table;
}

.menu_icon {
  float: right;
  cursor: pointer;
  padding: 24px 17px;
}

.header .menu_btn {
  display: none;
}

.icon {
  color: #fff;
  padding-right: 3rem;
  font-size: 25px;
  cursor: pointer;
}

/* nav ul {
  width: 50%;
}

nav ul li {
  list-style: none;
  width: 13%;
} */

/* nav ul li a {
  display: block;
  padding: 0px 100px;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #2b2d2f;
  border-right: 1px solid #aaa;
} */

nav ul li a:hover {
  color: #183efa;
}

.heading_container {
  width: 90%;
  padding-left: 1.75rem;
  margin-bottom: -1rem;
}

.inventory_info_box {
  width: 85%;
  padding-top: 2rem;
  margin: auto;
  display: block;
}

.stat_box {
  width: 100%;
  /* height: 75px; */
  margin-bottom: 1rem;
  /* margin-bottom: -1rem; */
  border-radius: 2.5px;
  -moz-box-shadow: 0 0 5px 3px #e0e0e0;
  -webkit-box-shadow: 0 0 3px #e0e0e0;
  box-shadow: 0 0 2.5px 1px #e0e0e0;
}

.count_box {
  float: left;
  width: 48%;
}

.cost_box {
  float: right;
  width: 48%;
}

.profit_box {
  margin-top: 6.3rem;
  width: 100%;
}

.icon_background {
  width: 2rem;
  height: 2rem;
  float: right;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  background: #dae1fb;
}

.cost {
  background: #d6ead6;
}

.return_on_investment {
  background: #e6d7ea;
}

.fa-box-open {
  color: #1338be;
}

.fa-tag {
  color: #85c285;
}

.fa-chart-line {
  color: #7a4988;
}

.total_number {
  font-size: 0.8em;
  text-align: left;
}

.product_count,
.total_spendings,
.roi {
  padding-top: 1rem;
  margin-left: 1rem;
}

.percent {
  font-size: 12px;
  position: absolute;
  margin-top: -0.25rem;
  margin-left: 1.3rem;
}

p {
  font-size: 0.9em;
  color: #8d8681;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p_roi {
  font-size: 9px;
  color: #8d8681;
  text-align: center;
}

.input_container {
  width: 85%;
  margin: 1.25rem auto;
  padding-bottom: 1.75rem;
}

.search_bar {
  width: 65%;
  float: left;
}

.search_product {
  margin-bottom: 1rem;
}

#search_icon {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.75rem;
  font-size: 22px;
}

.buttons {
  width: 35%;
  float: right;
  display: flex;
  padding-top: 0.015rem;
}

.clear_table {
  width: 45%;
  height: 3.6vh;
  border-radius: 3px;
  color: #fff;
  background-color: #eef1f6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 2px;
}

.trash_icon {
  width: 17px;
  height: auto;
}

.open_form {
  width: 45%;
  height: 3.6vh;
  border-radius: 3px;
  background-color: #006ee6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  margin: 0 auto;
  padding-bottom: 4px;
}

.add_symbol {
  color: #fff;
  font-size: 19px;
}

.open_form:hover {
  background-color: #0059b8;
  opacity: 1;
}

.clear_table:hover {
  background-color: #d7deea;
  opacity: 1;
}

.form_popup_background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.form_popup {
  display: none;
  position: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 64%;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px 3px #9d9d9d;
  -webkit-box-shadow: 0 0 3px 5px #9d9d9d;
  box-shadow: 0 0 5px 3px #9d9d9d;
  background-color: #fff;
  z-index: 9;
}

.form_popup {
  top: -412px;
  animation: drop 0.6s ease forwards;
}

@keyframes drop {
  100% {
    transform: translateY(597.5px);
    opacity: 1;
  }
}

.inventory_heading {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 600;
}

.inventory_form {
  width: 85%;
  position: relative;
  height: 80%;
  font-family: sans-serif;
  overflow: hidden;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.inventory_form label {
  color: rgba(0, 0, 0, 0.75);
  position: absolute;
  /* padding-top: 5rem; */
  /* left: 0%; */
  width: 100%;
  /* height: 40px; */
  pointer-events: none;
  /* border-bottom: 1px solid black; */
}

.input_section {
  padding-top: 3rem;
  width: 100%;
  /* height: 66px; */
}

input {
  width: 100%;
  height: 30px;
  color: #595f6e;
  border-radius: 3px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 2px;
  padding-left: 0.5rem;
  font-weight: 550;
  margin: 0 auto;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .inventory_form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 30px;
  width: 100%;
  border-bottom: 2px solid #006ee6;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
} */

.content_name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.inventory_form_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name {
  width: 66.25%;
}

.required_asterisk {
  color: red;
}

.required_input {
  color: red;
  font-style: italic;
  font-weight: 400;
  opacity: 0;
}

.brand {
  width: 33.25%;
}

.size {
  width: 33%;
}

.style_id {
  width: 33%;
}

.status {
  width: 33%;
}

.purchased {
  width: 49.771%;
}

.sold {
  width: 49.771%;
}

.price {
  width: 33%;
}

.return {
  width: 33%;
}

.condition {
  width: 33%;
}

.dollar_sign {
  position: absolute;
  margin-top: 0.11rem;
  margin-left: -10.45rem;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9em;
  font-weight: 550;
  background-color: #f5f5f5;
  width: 1.75rem;
  padding: 0.2125rem;
  padding-left: 0.55rem;
  border-top-left-radius: 0.9px;
  border-bottom-left-radius: 0.9px;
  border-right: 2px solid #d3d3d3;
}

.shoe_size {
  display: block;
  justify-content: space-between;
}

/* .inventory_form input:focus + .label_name .content_name,
.inventory_form input:valid + .label_name .content_name {
  transform: translateY(-90%);
  font-size: 14px;
  color: #006ee6;
}

.inventory_form input:focus + .label_name::after,
.inventory_form input:valid + .label_name::after {
  transform: translateX(0%);
} */

.form_buttons {
  width: 50%;
  height: 2rem;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-top: 2.5rem;
}
/* 
.add_button {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.close_form {
  width: 48.5%;
  /* height: 2rem; */
  border-radius: 3px;
  color: black;
  background-color: #eef1f6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.submit_form {
  width: 48.5%;
  color: white;
  /* height: 30px; */
  border-radius: 3px;
  background-color: #006ee6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.close_form:hover {
  background-color: #d7deea;
}

.submit_form:hover {
  background-color: #0059b8;
  opacity: 1;
}

.form_popup {
  width: 90%;
  height: 66%;
}

.form_heading {
  font-size: 23px;
  font-weight: 600;
}

.edit_heading {
  display: none;
  font-size: 23px;
  font-weight: 600;
}

.content_name {
  font-size: 15px;
  font-weight: 550;
}

.input_section {
  height: 70px;
  font-size: larger;
}

.shoe_size {
  padding-top: 3rem;
  width: 10%;
  display: flex;
  float: left;
}

#price_input,
#roi_input {
  padding-left: 0.5rem;
}

.edit_btns {
  display: none;
  width: 25%;
  height: 2rem;
  float: right;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.cancel_btn {
  width: 48.5%;
  /* height: 2rem; */
  border-radius: 3px;
  color: black;
  background-color: #eef1f6;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.edit_row {
  width: 48.5%;
  /* height: 30px; */
  border-radius: 3px;
  background-color: #006ee6;
  color: white;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

table {
  color: black;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  /* border-radius: 5px 5px 0 0; */
  overflow: auto;
  box-shadow: 0 0px 5px #e1e5ee;
}

table thead tr {
  box-shadow: 0 1px 5px #e1e5ee;
  background-color: white;
  font-weight: 100;
  color: black;
  font-size: 20px;
  text-align: left;
  /* font-family: "Exo", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Quicksand", sans-serif; */
}

td {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  text-align: left;
}

/* tr:nth-of-type(even) {
  background-color: #f4f6fb;
} */

th,
td {
  font-family: sans-serif;
  padding: 0.75rem 1.35rem;
}

.product_name_th,
.product_price_th,
.product_size_th,
.product_roi_th {
  font-size: 0.65em;
}

.product_name_td,
.product_price,
.product_size_td,
.product_roi {
  font-size: 0.75em;
}

.clear_row_all {
  /* float: left; */
  /* cursor: pointer; */
  /* font-size: 20px; */
  /* font-weight: 600; */
  /* position: absolute;
  background-color: transparent;
  border: none;
  margin-top: 5rem; */
  /* margin-left: -1.75rem;
  margin-top: 0.5rem; */
  /* background-color: #1338be; */
  /* display: none; */
}

.clear_row {
  float: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border: none;
  color: #27292a;
  margin-top: -2px;
  margin-left: -16px;
}

.sold {
  color: #45b6fe;
}

.pending {
  color: #e66c2c;
}

.profit {
  color: green;
}

.neutral {
  color: black;
}

.lost {
  color: red;
}

.empty_table {
  position: absolute;
  top: 65%;
  left: 45%;
}

.fa-chart-bar {
  color: #dddddd;
  font-size: 40px;
  padding-bottom: 0.5rem;
}

.no_data {
  color: rgba(0, 0, 0, 0.75);
  font-size: 25px;
  margin-left: -1.84rem;
}

.report_data {
  color: #8d8681;
  margin-left: -5.75rem;
}

@media only screen and (max-width: 999px) {
  .dollar_sign {
    display: none;
  }

  .product_brand_th,
  .product_style_id_th,
  .product_status_th,
  .date_purchased_th,
  .date_sold_th,
  .product_condition_th,
  .actions_th {
    display: none;
  }

  .product_brand_td,
  .product_style_id_td,
  .product_status_td,
  .date_purchased_td,
  .date_sold_td,
  .product_condition_td,
  .option_container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.75rem 2.5rem;
    /* background-color: tomato; */
  }

  .logo_home,
  .name_home,
  .hamburger_menu {
    font-size: 2em;
    color: #031163;
  }

  .logo_home,
  .name_login {
    padding-right: 0.75rem;
  }

  .drop_down_menu {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    /* background-color: thistle; */
  }

  .menu_btn {
    position: absolute;
    left: 0%;
    display: none;
  }

  .check_btn {
    font-size: 1em;
    color: #27292a;
    float: right;
    line-height: 80px;
    /* margin-right: 40px; */
    cursor: pointer;
  }

  .nav_links {
    position: fixed;
    z-index: 10;
    width: 100%;
    list-style: none;
    transform: translateX(100%);
    /* transition: transform 0.5s ease-in; */
  }

  .menu_background {
    /* display: none; */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
    overflow: auto;
    transform: translateX(100%);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
  }

  .nav_active {
    transform: translateX(0%);
  }

  nav ul li {
    width: 100%;
    padding: 2rem 3rem;
    background-color: #fff;
    border-top: 1.5px solid #cccccc;
  }

  nav ul li a {
    color: #031163;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 525;
    width: 100%;
    text-decoration: none;
  }

  .btn_login {
    color: #031163;
    font-size: 1.05em;
    font-family: "Poppins", sans-serif;
    font-weight: 525;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  .content_container {
    width: 95%;
    margin: 0 auto;
    padding-top: 4rem;
  }

  .info_box {
    width: 95%;
    margin: 0 auto;
  }

  .home_heading {
    font-size: 2.4em;
    color: #031163;
  }

  .home_subheading {
    padding-top: 0.75rem;
    font-size: 1.4em;
  }

  .features_container {
    width: 47%;
    float: left;
    padding-top: 4.5rem;
    padding-left: 1rem;
  }

  .features_heading {
    font-size: 2em;
    color: #645cff;
  }

  .fa-circle {
    position: absolute;
    margin-top: 0.75rem;
    margin-left: -1.25rem;
    color: #8b85ff;
    font-size: 11px;
  }

  .features_list {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.5em;
    color: #b1adff;
  }

  .start_container {
    width: 93%;
    text-align: center;
    padding-top: 2rem;
  }

  .start_btn {
    text-align: center;
    padding: 17px 70px;
    color: white;
    font-size: 1.25em;
    background-color: #6c63ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .start_btn:hover {
    background-color: #9e99ff;
  }

  .dashboard_container {
    width: 53%;
    float: right;
    padding-top: 14rem;
  }

  .inventory_ui {
    float: left;
    width: 97%;
  }

  .login_form {
    margin: 9rem auto;
  }

  .logo_login,
  .name_login {
    font-size: 2.5em;
    padding-right: 0.5rem;
  }

  .login {
    font-size: 2.25em;
  }

  .welcome_text,
  .login_subheading,
  .forgot_pw,
  .login_submit,
  .login_text,
  .send_btn,
  .return_login {
    font-size: 1.25em;
  }

  .sign_up_container {
    padding-top: 1.75rem;
  }

  .nav_link_label {
    font-size: 1.25em;
  }

  .heading_container {
    width: 90%;
    padding-left: 2.5rem;
  }

  .inventory_heading {
    font-size: 30px;
  }

  .inventory_info_box {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .stat_box {
    width: 31%;
  }

  .count_box {
    float: none;
    width: 32%;
  }

  .cost_box {
    float: none;
    width: 32%;
  }

  .profit_box {
    margin-top: 0rem;
    width: 32%;
  }

  .total_number {
    font-size: 20px;
    text-align: left;
    margin-top: 2rem;
  }

  p {
    font-size: 1.1em;
    margin-top: 0px;
  }

  .stat_box_label {
    padding-bottom: 1rem;
  }

  .input_container {
    width: 90%;
    display: flex;
    padding-bottom: 0rem;
  }

  .search_product {
    width: 49.75%;
    padding: 1rem 0.5rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  #search_icon {
    margin-top: 0.45rem;
    margin-left: -2rem;
  }

  .buttons {
    width: 25%;
    margin-left: 5rem;
  }

  .open_form,
  .clear_table {
    width: 45%;
    height: 3.25vh;
  }

  .inventory_form {
    margin-top: 4rem;
  }

  .input_section {
    height: 82px;
    font-size: 20px;
  }

  .submit_form {
    color: white;
    font-size: 16px;
  }

  .table_inventory {
    width: 90%;
  }

  th,
  td {
    padding: 0.75rem 3.75rem;
  }

  .product_name_th,
  .product_price_th,
  .product_size_th,
  .product_roi_th {
    font-size: 0.8em;
  }

  .product_name_td,
  .product_price,
  .product_size_td,
  .product_roi {
    font-size: 16px;
  }

  .clear_row {
    margin-top: 1px;
  }

  .empty_table {
    top: 65%;
    left: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    display: flex;
    padding: 0.75rem 2.5%;
  }

  .logo {
    display: flex;
    width: 100%;
  }

  .logo_home,
  .name_home {
    font-size: 1.75em;
    padding-right: 1rem;
    color: black;
  }

  .name_home {
    letter-spacing: 0.1em;
  }

  .nav_links {
    position: static;
    display: flex;
    padding-top: 0.5rem;
    list-style: none;
    transform: translateX(0%);
  }

  .nav_links li {
    padding-left: 0.75rem;
    text-align: center;
    border-style: none;
  }

  .nav_links li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
  }

  .nav_links li a:hover {
    color: #6c63ff;
  }

  .btn_login {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.6rem 1.75rem;
    margin-top: -0.75rem;
    color: white;
    background-color: #6c63ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .btn_login:hover {
    background-color: #9e99ff;
  }

  .drop_down_menu {
    display: none;
  }

  .menu_background {
    display: none;
  }

  .content_container {
    width: 97%;
    margin: 0 auto;
    padding-top: 0rem;
  }

  .info_box {
    width: 100%;
    padding-left: 3rem;
  }

  .info_box {
    animation: down 1.5s ease forwards;
  }

  @keyframes down {
    100% {
      transform: translateY(25px);
      opacity: 1;
    }
  }

  .home_heading {
    font-size: 3em;
    color: #031163;
    text-align: start;
  }

  .home_subheading {
    font-size: 1.5em;
  }

  .features_container {
    width: 47%;
    float: left;
    padding-top: 5.5rem;
    padding-left: 6.25rem;
    animation-duration: 2s;
    animation-name: bounce;
  }

  .features_heading {
    font-size: 2.25em;
    color: #645cff;
  }

  .fa-circle {
    position: absolute;
    margin-top: 0.755rem;
    margin-left: -1.25rem;
    color: #8b85ff;
    font-size: 0.45em;
  }

  .features_list {
    padding-top: 1.25rem;
    padding-left: 1.5rem;
    font-size: 1.5em;
    color: #b1adff;
  }

  @keyframes bounce {
    from {
      margin-left: -3rem;
    }

    to {
      margin-left: 0rem;
    }
  }

  .start_container {
    width: 92.5%;
    text-align: center;
    padding-top: 2.5em;
  }

  .start_btn {
    text-align: center;
    padding: 0.9rem 4rem;
    font-size: 1.25em;
    color: white;
    background-color: #6c63ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .start_btn:hover {
    background-color: #9e99ff;
  }

  .dashboard_container {
    width: 53%;
    float: right;
    padding-top: 7.75rem;
    padding-bottom: 5rem;
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-right: -3rem;
    }

    to {
      margin-right: 0rem;
    }
  }

  .inventory_ui {
    float: left;
    width: 95%;
    padding-bottom: 0rem;
  }

  .login_container {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 15;
    /* top: 40%; */
    /* left: 0%; */
    /* margin: -100px 0 0 -150px; */
    /* background: red; */
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .login_left {
    display: block;
    left: 0;
    background-color: #ebeefe;
  }

  .login_right {
    right: 0;
    /* background-color: #6a6a6a; */
  }

  .logo_mobile_login_container {
    display: none;
  }

  .login_form {
    margin: 8rem auto;
    width: 60%;
    height: 60%;
    /* background: chartreuse; */
  }

  .login_form_content {
    width: 100%;
    height: 84%;
    /* background-color: yellow; */
  }

  .login {
    font-size: 3.25em;
  }

  .welcome_container {
    padding-top: 1rem;
    padding-bottom: 1.25rem;
  }

  .welcome_text {
    font-size: 1em;
    color: #b8b8b8;
  }

  .login_subheading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    color: #020a3c;
    float: left;
    padding-bottom: 1rem;
    padding-top: 15px;
  }

  .login_input {
    width: 100%;
    height: 2.25rem;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 550;
    border-radius: 6px;
    border-style: solid;
    border-color: #d3d3d3;
    margin-bottom: 10px;
    border-width: 1.75px;
    outline: none;
    padding-left: 0.5rem;
  }

  .forgot_container {
    padding-top: 1.25rem;
    padding-bottom: 2rem;
  }

  .forgot_pw {
    font-size: 1em;
    color: #b8b8b8;
  }

  .forgot_pw:hover {
    color: #6c63ff;
  }

  .login_submit {
    width: 100%;
    font-size: 1.1em;
    padding: 0.75rem 0rem;
    color: white;
    background-color: #6c63ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .login_submit:hover {
    background-color: #9e99ff;
  }

  .create_container {
    text-align: start;
    padding-top: 2rem;
  }

  .login_text {
    font-size: 1em;
    color: #b8b8b8;
  }

  .create_acc {
    color: #6c63ff;
  }

  .create_acc:hover {
    color: #9e99ff;
  }

  .send_btn {
    font-size: 1.1em;
    padding-top: 1.75rem;
  }

  .return_login {
    font-size: 1.1em;
  }

  .return_login:hover {
    color: #9e99ff;
  }

  .logo_home_link {
    text-decoration: none;
  }

  .logo_login_container {
    display: flex;
    margin-left: 2rem;
    align-items: center;
  }

  .name_login {
    letter-spacing: 0.1rem;
  }

  .logo_login,
  .name_login {
    color: #031163;
    font-size: 1.75em;
    padding-right: 1rem;
  }

  .img_text_container {
    padding-top: 10.25rem;
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .img_text {
    color: #031163;
    font-weight: 550;
    font-size: 1.9em;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .login_img {
    height: 50%;
    width: 50%;
    margin-top: 6rem;
  }

  .sign_up_container {
    padding-top: 1.75rem;
  }

  .slider_container {
    width: 50%;
    float: right;
    height: fit-content;
    background: #183af9;
  }

  .container {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .user_nav_mobile {
    display: none;
  }

  .inventory_left {
    display: block;
  }

  .top_nav {
    display: block;
  }

  .user_info {
    display: block;
  }

  .menu_text {
    display: block;
  }

  .inventory_left {
    left: 0;
    width: 17%;
    min-width: 13.75rem;
    background-color: #eeeeee;
  }

  .nav_border {
    position: absolute;
    right: 0%;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: #dddddd;
    transition: background-color 0.2s;
    cursor: ew-resize;
  }

  .nav_border:hover {
    background-color: #cccccc;
  }

  .user_nav {
    margin: 1rem 6%;
  }

  .top_nav {
    display: flex;
    width: 84%;
    justify-content: space-between;
    padding-left: 1.5rem;
    /* padding-top: 1rem; */
    /* background-color: royalblue; */
  }

  /* .circle {
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
  } */

  /* .logo_login {
    font-size: 33px;
    padding-top: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .logo_nav {
    font-size: 1.75em;
    color: #010314;
  }

  .user_info {
    display: grid;
    width: 84%;
    padding-top: 3rem;
    padding-left: 1.4rem;
  }

  .welcome_user,
  .username_text {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
  }

  .welcome_user {
    font-size: 1em;
  }

  .username_text {
    padding-top: 0.5rem;
    font-size: 0.85em;
  }

  .user {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
  }

  .nav_content {
    width: 84%;
    padding-top: 3rem;
    /* padding-left: 0.75rem; */
  }

  .menu_text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    font-weight: 600;
    padding-left: 1.4rem;
    padding-bottom: 1rem;
  }

  .nav_link {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 5px;
    padding-left: 1rem;
  }

  .nav_link:hover {
    background-color: #dddddd;
  }

  .nav_icon_container {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .fa-chart-pie,
  .fa-box,
  .fa-sliders-h {
    font-size: 1.1em;
  }

  #logout_icon {
    font-size: 1.3em;
    font-weight: 600;
  }

  .nav_link_label {
    font-size: 1.1em;
  }

  .nav_content_bottom {
    padding-top: 18rem;
  }

  .inventory_right {
    right: 0;
    width: 83%;
    padding-top: 0rem;
  }

  .inventory_container {
    min-width: 100%;
    margin-top: 1rem;
    margin-left: 2.25rem;
    /* background-color: #0059b8; */
  }

  .heading_container {
    /* width: 80%; */
  }

  .inventory_heading {
    font-size: 2em;
    padding-bottom: 1.5rem;
    margin-left: -0.5rem;
  }

  .mid_content {
    width: 90%;
  }

  .inventory_info_box {
    width: 80%;
    margin-left: 1.15rem;
    padding: 0.5rem 0rem;
    justify-content: space-evenly;
  }

  .stat_box {
    width: 31.5%;
  }

  .icon_background {
    width: 20%;
    height: 27.5%;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  .fa-box-open,
  .fa-tag,
  .fa-chart-line {
    font-size: 1em;
  }

  .total_number {
    font-size: 1em;
    text-align: left;
    margin-top: 0.75rem;
    padding-left: 0.25rem;
  }

  p {
    font-size: 0.9em;
  }

  .stat_box_label {
    padding-left: 0.25rem;
    padding-bottom: 0.2rem;
  }

  .input_container {
    width: 90%;
    margin: 0rem auto;
    margin-left: 1.75rem;
    padding-bottom: 0.25rem;
  }

  .search_bar {
    width: 100%;
  }

  .search_product {
    width: 32.75%;
    padding: 0.5rem 0.5rem;
    padding-right: 3rem;
    border-style: solid;
    border-radius: 3px;
    border-color: #d3d3d3;
    border-width: 2px;
    color: #27292a;
    font-size: 0.85em;
  }

  #search_icon {
    position: absolute;
    margin-top: 0.25rem;
    margin-left: -1.75rem;
    font-size: 1.4em;
  }

  .search_product:focus {
    border-color: rgba(0, 0, 0, 0.75);
  }

  ::placeholder {
    color: #d3d3d3;
  }

  .search_product:focus::placeholder {
    color: transparent;
  }

  .buttons {
    display: flex;
    width: 17.5%;
  }

  .form_popup {
    width: 50%;
    height: 55%;
  }

  @keyframes drop {
    100% {
      transform: translateY(592.5px);
      opacity: 1;
    }
  }

  .inventory_form {
    height: 90%;
    margin-top: 2.25rem;
  }

  .form_header {
    padding-bottom: 1.25rem;
  }

  .form_heading {
    font-size: 1.5em;
    font-weight: 600;
  }

  .edit_heading {
    display: none;
    font-size: 1.5em;
    font-weight: 600;
  }

  .content_name {
    font-size: 0.75em;
    font-weight: 550;
  }

  .input_section {
    height: 10%;
    padding-top: 2.25rem;
    font-size: larger;
  }

  input {
    font-size: 0.7em;
    padding: 0.25rem 0.5rem;
  }

  .product_date,
  .product_date_sold {
    font-size: 0.9em;
  }

  #price_input,
  #roi_input {
    font-size: 0.7em;
    padding-left: 2.2rem;
  }

  .shoe_size {
    padding-top: 3rem;
    width: 10%;
    display: flex;
    float: left;
  }

  .form_buttons {
    width: 33%;
    height: 3.5vh;
  }

  .close_form,
  .submit_form {
    font-size: 1em;
    padding: 0rem;
  }

  .edit_btns {
    display: none;
    width: 30%;
    height: 3.5vh;
    float: right;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .cancel_btn {
    width: 48.5%;
    /* height: 2rem; */
    border-radius: 3px;
    color: black;
    background-color: #eef1f6;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
  }

  .edit_row {
    width: 48.5%;
    /* height: 30px; */
    border-radius: 3px;
    background-color: #006ee6;
    color: white;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
  }

  .cancel_btn:hover {
    background-color: #d7deea;
  }

  .edit_row:hover {
    background-color: #0059b8;
  }

  .table_scroll {
    width: 90%;
    overflow-y: hidden;
    margin-left: 1.5rem;
    padding-bottom: 31.5rem;
  }

  *::-webkit-scrollbar {
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 10px;
  }

  table {
    /* height: 32rem; */
    min-width: 90rem;
  }

  th,
  td {
    padding: 0.75rem 0.75rem;
  }

  .table_inventory th {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 550;
    font-size: 0.65em;
  }

  .table_inventory td {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.8em;
  }

  .product_name_th {
    min-width: 30rem;
  }

  .product_brand_th {
    min-width: 9rem;
  }

  .product_size_th {
    min-width: 9rem;
  }

  .product_style_id_th {
    min-width: 12rem;
  }

  .product_status_th {
    min-width: 9rem;
  }

  .date_purchased_th {
    min-width: 12rem;
  }
  .date_sold_th {
    min-width: 12rem;
  }
  .product_price_th {
    min-width: 9rem;
  }
  .product_roi_th {
    min-width: 9rem;
  }

  .product_condition_th {
    min-width: 7rem;
  }

  tr:not(:first-child):hover {
    background-color: #f5f5f5;
  }

  .options_btn {
    position: absolute;
    float: left;
    cursor: pointer;
    /* font-size: px; */
    /* font-weight: 600; */
    background-color: transparent;
    border: none;
    margin-left: -1.75rem;
    margin-top: 0.3rem;
    /* background-color: #1338be; */
    padding-bottom: 0.75rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

  /* .option_container { */
  /* position: absolute;
    /* opacity: 0; */
  /* margin-top: 0.33rem; */
  /* margin-left: 0rem; */
  /*width: 6rem;
    border-radius: 5px;
    padding-top: 0.2rem;
    padding-bottom: 0.25rem; */
  /* background-color: #555555; */
  /* } */

  .option_container {
    display: flex;
    width: auto;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
  }

  .hidden {
    /* visibility: hidden; */
  }

  /* .edit_btn {
    background: transparent;
    border: none;
    border-bottom: 1px solid #878787;
    color: whitesmoke;
    width: 93%;
    padding: 0.4rem;
    font-size: 14px;
    text-align: left;
    padding-left: 0.75rem;
  } */

  .edit_btn {
    background: transparent;
    border: none;
    color: #ffcc00;
    width: 50%;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0.95rem;
    padding-right: 2.5rem;
  }

  .clear_row_all {
    background: transparent;
    border: none;
    color: #ff5349;
    width: 50%;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0.95rem;
  }

  .delete_row {
    display: none;
  }

  .clear_row {
    display: none;
  }

  .empty_table {
    top: 56%;
    left: 50%;
  }

  .fa-chart-bar {
    color: #dddddd;
    font-size: 2.5em;
    padding-bottom: 0.5rem;
  }

  .no_data {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5em;
    margin-left: -1.75rem;
  }

  .report_data {
    color: #8d8681;
    font-size: 1.1em;
    margin-left: -6.55rem;
  }
}

@media only screen and (min-width: 1400px) {
  .user_nav {
    margin: 1rem 6%;
  }

  .logo_nav {
    font-size: 2em;
    color: #010314;
  }

  .welcome_user {
    font-size: 1.1em;
  }

  .username_text {
    font-size: 0.9em;
  }

  .menu_text {
    font-size: 0.85em;
  }

  .fa-chart-pie,
  .fa-box,
  .fa-sliders-h {
    font-size: 1.25em;
  }

  #logout_icon {
    font-size: 1.5em;
  }

  .nav_link_label {
    font-size: 1.25em;
  }

  .nav_content_bottom {
    padding-top: 18rem;
  }

  .inventory_right {
    margin-right: 2rem;
    padding-left: 0rem;
  }

  .inventory_container {
    width: 90%;
  }

  .heading_container {
    width: 90%;
  }

  .inventory_heading {
    font-size: 2.25em;
    padding-bottom: 1.5rem;
    margin-left: -0.5rem;
  }

  .mid_content {
    width: 100%;
    /* background: royalblue; */
  }

  .inventory_info_box {
    width: 70%;
    margin-left: 1.4rem;
    padding: 0.5rem 0rem;
    justify-content: space-evenly;
    /* background-color: green; */
  }

  .icon_background {
    width: 17.5%;
    height: 27.5%;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  .fa-box-open,
  .fa-tag,
  .fa-chart-line {
    font-size: 1.2em;
  }

  .total_number {
    font-size: 1.25em;
    text-align: left;
    margin-top: 1.75rem;
    padding-left: 0.5rem;
  }

  p {
    font-size: 1.1em;
  }

  .stat_box_label {
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .input_container {
    width: 100%;
    margin: 0rem auto;
    padding-bottom: 0.25rem;
  }

  .search_bar {
    width: 100%;
  }

  .search_product {
    width: 28.5%;
    margin-left: 2rem;
    padding: 0.5rem 0.5rem;
    padding-right: 3rem;
    border-style: solid;
    border-radius: 3px;
    border-color: #d3d3d3;
    border-width: 2px;
    color: #27292a;
    font-size: 0.85em;
  }

  #search_icon {
    position: absolute;
    margin-top: 0.25rem;
    margin-left: -1.75rem;
    font-size: 1.4em;
  }

  .search_product:focus {
    border-color: rgba(0, 0, 0, 0.75);
  }

  ::placeholder {
    color: #d3d3d3;
  }

  .search_product:focus::placeholder {
    color: transparent;
  }

  .buttons {
    margin-right: 1.9rem;
    display: flex;
    width: 15%;
  }

  .form_popup {
    width: 40%;
    height: 54%;
  }

  @keyframes drop {
    100% {
      transform: translateY(592.5px);
      opacity: 1;
    }
  }

  .inventory_form {
    height: 90%;
    margin-top: 2.25rem;
  }

  .form_header {
    padding-bottom: 1.25rem;
  }

  .form_heading {
    font-size: 1.5em;
    font-weight: 600;
  }

  .edit_heading {
    display: none;
    font-size: 1.5em;
    font-weight: 600;
  }

  .content_name {
    font-size: 0.75em;
    font-weight: 550;
  }

  .input_section {
    height: 10%;
    padding-top: 2.25rem;
    font-size: larger;
  }

  input {
    font-size: 0.7em;
    padding: 0.25rem 0.5rem;
  }

  .product_date,
  .product_date_sold {
    font-size: 0.9em;
  }

  #price_input,
  #roi_input {
    font-size: 0.7em;
    padding-left: 2.2rem;
  }

  .shoe_size {
    padding-top: 3rem;
    width: 10%;
    display: flex;
    float: left;
  }

  .form_buttons {
    width: 33%;
    height: 3.5vh;
  }

  .close_form,
  .submit_form {
    font-size: 1em;
    padding: 0rem;
  }

  .edit_btns {
    display: none;
    width: 30%;
    height: 3.5vh;
    float: right;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .cancel_btn {
    width: 48.5%;
    /* height: 2rem; */
    border-radius: 3px;
    color: black;
    background-color: #eef1f6;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
  }

  .edit_row {
    width: 48.5%;
    /* height: 30px; */
    border-radius: 3px;
    background-color: #006ee6;
    color: white;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
  }

  .cancel_btn:hover {
    background-color: #d7deea;
  }

  .edit_row:hover {
    background-color: #0059b8;
  }

  .table_scroll {
    width: 95%;
    overflow-y: hidden;
    margin-left: 1.95rem;
    padding-bottom: 30rem;
  }

  *::-webkit-scrollbar {
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 10px;
  }

  table {
    /* height: 32rem; */
    min-width: 100rem;
  }

  th,
  td {
    padding: 0.75rem 0.75rem;
  }

  .table_inventory th {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 550;
    font-size: 0.65em;
  }

  .table_inventory td {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.8em;
  }

  .product_name_th {
    min-width: 30rem;
  }

  .product_brand_th {
    min-width: 9rem;
  }

  .product_size_th {
    min-width: 9rem;
  }

  .product_style_id_th {
    min-width: 12rem;
  }

  .product_status_th {
    min-width: 9rem;
  }

  .date_purchased_th {
    min-width: 12rem;
  }
  .date_sold_th {
    min-width: 12rem;
  }
  .product_price_th {
    min-width: 9rem;
  }
  .product_roi_th {
    min-width: 9rem;
  }

  .product_condition_th {
    min-width: 7rem;
  }

  tr:not(:first-child):hover {
    background-color: #f5f5f5;
  }

  .options_btn {
    position: absolute;
    float: left;
    cursor: pointer;
    /* font-size: px; */
    /* font-weight: 600; */
    background-color: transparent;
    border: none;
    margin-left: -1.75rem;
    margin-top: 0.3rem;
    /* background-color: #1338be; */
    padding-bottom: 0.75rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

  /* .option_container { */
  /* position: absolute;
    /* opacity: 0; */
  /* margin-top: 0.33rem; */
  /* margin-left: 0rem; */
  /*width: 6rem;
    border-radius: 5px;
    padding-top: 0.2rem;
    padding-bottom: 0.25rem; */
  /* background-color: #555555; */
  /* } */

  .option_container {
    display: flex;
    width: auto;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
  }

  .hidden {
    /* visibility: hidden; */
  }

  /* .edit_btn {
    background: transparent;
    border: none;
    border-bottom: 1px solid #878787;
    color: whitesmoke;
    width: 93%;
    padding: 0.4rem;
    font-size: 14px;
    text-align: left;
    padding-left: 0.75rem;
  } */

  .edit_btn {
    background: transparent;
    border: none;
    color: #ffcc00;
    width: 50%;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0.95rem;
    padding-right: 2.5rem;
  }

  .clear_row_all {
    background: transparent;
    border: none;
    color: #ff5349;
    width: 50%;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0.95rem;
  }

  .delete_row {
    display: none;
  }

  .clear_row {
    display: none;
  }

  .empty_table {
    top: 56%;
    left: 50%;
  }

  .fa-chart-bar {
    color: #dddddd;
    font-size: 2.5em;
    padding-bottom: 0.5rem;
  }

  .no_data {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5em;
    margin-left: -1.75rem;
  }

  .report_data {
    color: #8d8681;
    font-size: 1.1em;
    margin-left: -6.55rem;
  }
}

@media only screen and (min-width: 1800px) {
  .start_container {
    width: 75%;
  }

  .dashboard_container {
    padding-top: 7rem;
  }

  .inventory_ui {
    width: 90%;
  }

  .inventory_left {
    width: 13%;
  }

  .nav_content_bottom {
    padding-top: 23rem;
  }

  .inventory_right {
    width: 87%;
  }

  .inventory_heading {
    font-size: 2.25em;
  }

  .inventory_info_box {
    margin-left: 1.1rem;
  }

  .icon_background {
    width: 14%;
  }

  .search_product {
    width: 27.75%;
  }

  .buttons {
    margin-right: 3.25rem;
  }

  .dollar_sign {
    margin-left: -13.3rem;
    padding: 0.15rem 0.5rem;
  }

  .table_scroll {
    padding-bottom: 33.5rem;
  }
}
